.sec-laptop {
  background-color: white;
  background-image: url(../img/bg/bgdescription.png);
  background-position: left;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
}