.sec-tri-creamy {
  background: url(../img/bg/bgfeatures.jpg);
  background-position: center center;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.sec-tri-creamy__wrapper_article {
  margin: 18vh auto;
  width: 35%;
}

.sec-tri-creamy__wrapper_feat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 120px;
}