.sec-top {
  background-color: white;
  background-image: url(../img/bg/bgintro.jpg);
  background-repeat: no-repeat;

  background-position: right;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
}

.sec-top__wrapper {
  padding: 150px 0 180px 150px;
}